.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    margin-right: 10px; /* Espacio entre el logo y el título */
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav a {
    margin-top: 20px;
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-info {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    margin-left: 20px; /* Espacio entre los enlaces */
}
